@charset "UTF-8";


header {background-color: white;
      border: 2px;
      justify-content: space-between;
      align-items: center;
      padding: 15px 40px;
      border-bottom: 1px solid #eee;
      display: flex auto}

.banner {display:flex;
     border-radius: 20px;
     width: 50%;}


.title {color: white;
        background-color:black
 
}

nav a:hover {background-color:rgb(167, 95, 95);    
    color:black 
    padding: 20px;
    justify-content:flex-end;}




h1{
color: black;
      border: 2px;
      justify-content: space-between;
      align-items: center;
      padding: 15px 40px;
      border-bottom: 1px solid #eee;}



p {font-size: 16px;
    background-color: rgba(243, 240, 240, 0.801);
    padding: 20px;
    margin: 20px;}



.cards {display:flex;
     }

.cards img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    display:flex auto;
     4px;}
    


body {background-color: whitesmoke}
